.frame {
    display: flex;
    font-size: 20px;
}

.left {
    flex: none;
    width: 200px;
    font-weight: bold;
}

.right {
    display: flex;
    flex: auto;
    justify-content: flex-end;

}

.item {

    flex: none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.mobile {
    display: none;
}


.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 300px;
    background-color: aquamarine;

}

.text {
    font-size: 40px;
    text-align: center;
    font-weight: bold;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}

.site {
    flex: none;
    width: 280;
    margin: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgb(135, 185, 226);

}

.site img {
    width: 280px;
    height: 210px;
    margin: 0px;
    aspect-ratio: 16/9;
}



@media (max-width:1200px) {
    .content {
        width: 100%;
    }

    .site {
        width: 45%;
    }

    .site img {
        width: 100%;
        height: 100%;
    }

}

@media (max-width:600px) {
    .text {
        font-size: 30px;
    }

    .site {
        width: 90%;
    }

    .item {
        display: none;
    }

    .mobile {
        display: block;
    }
}


.word {

    text-align: center;
}

.end {
    text-align: center;
}